server {
    listen 8080;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    # SPA fallback: cualquier ruta de Angular cae a index.html
    location / {
        try_files $uri $uri/ /index.html;
    }


    # 1. Microservicio de Bonos (Python/FastAPI)
    location /api/bonos/ {
        proxy_pass http://bonos-service:8004/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # 2. Microservicio de Apuestas (Python/FastAPI)
    location /api/apuestas/ {
        proxy_pass http://apuestas-service:8005/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # 3. Microservicio de Estadísticas (Python/FastAPI)
    location /api/estadisticas/ {
        proxy_pass http://estadisticas-service:8006/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # 4. Backend Original Node (atrapa cualquier otra ruta de /api/)
    location /api/ {
        proxy_pass http://backend-intro-devops-casino:3000/api/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # ==========================================================

    # Cache de assets estáticos
    location ~* \.(?:js|css|woff2?|svg|png|jpg|jpeg|gif|ico)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
    }
}